/* .login-section {
  margin-top: 4rem;
} */

.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(
    --color-tertiary
  ); /* Background color for the whole page */
}

.login-form {
  width: 40%;
  margin: 2rem; /* Adjust margin as needed */
  padding: 2rem; /* Adjust padding for better spacing */
  background-color: var(--color-tertiary);
  border-radius: 8px; /* Slightly rounded corners for aesthetics */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 2.5rem; /* Adjusted margin for better spacing */
  gap: 2rem;
}

.form-group-label {
  text-transform: capitalize;
  font-weight: 700;
}

.form-group-input {
  padding: 1.5rem;
  font-size: inherit;
  font-family: inherit;
  font-weight: 500;
  color: var(--color-primary);
}

.form-group-input::placeholder {
  font-style: italic;
  font-weight: 500;
}

.login-btn {
  border: none;
  display: block;
  outline: none;
  width: 50%;
  background-color: var(--color-primary);
  color: var(--color-background);
  padding: 1.5rem 2rem;
  font-weight: 700;
  font-size: inherit;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.4s;
  margin: 0 auto;
}

.login-btn:hover {
  background-color: var(--color-background);
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

/* section for register link */

.register-link {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
  gap: 1rem;
}
.register-link p {
  font-weight: 500;
  font-size: 1.5rem;
}
.register-link a {
  font-weight: 700;
  font-size: 1.5rem;
  color: var(--color-primary);
  text-decoration: none;
  transition: all 0.4s;
}
.register-link a:hover {
  color: var(--color-primary);
}

/* title css */
.login-title {
  margin-bottom: 2.5rem;
}
