@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

:root {
  --color-background: #fefffe;
  --color-primary: #6933ff;
  --color-secondary: #384454;
  --color-tertiary: #f4f7fb;
  --color-feed-title: #1e2633;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

/* my webpage colors */

body {
  font-size: 1.6rem;
  font-family: "Ubuntu", sans-serif;
}

/* Ensures the app takes the full viewport height */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* The content will expand to take available space */
.content {
  flex: 1;
}
